@use "../../sass/variables";

@media screen and (max-width: 1024px) {

    h1{
        font-size: 43px;
    }

    h2{
        font-size: 36px;
    }

    h3{
        font-size: 26px;
    }

    h4{
        font-size: 18px;
    }

    .btn{
        font-size: 18px;
    }
    
    .header{
        padding-top: 30px;
        padding-bottom: 40px;

        .menu {
            flex-direction: column;
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(0, -100%);
            width: 100%;
            background: #f3f3f3;
            padding: 20px 30px;
            visibility: hidden;
            transition: .3s;

            &.show{
                top: 107px;
                transform: translate(0, 0);
                visibility: visible;
            }

            &-list {
                flex-direction: column;
            }

            &__link {
                font-size: 18px;

                &:hover {
                    font-size: 19px;
                }
            }
        }

        &-logo__img{
            max-width: 150px;
        }
    }

    .first-screen{
        &-title{
            margin-bottom: 18px;
        }

        &-text{
            max-width: 100%;
        }

        &-subtitle{
            font-size: 18px;
            margin-bottom: 18px;
        }

        &-btn{
            width: 100%;
            justify-content: center;
            font-size: 18px;
        }

        &-logotypes{
            flex-wrap: wrap;
            &__img{
                max-width: 120px;
            }
        }

        &-content{
            margin-bottom: 35px;
        }
    }

    #first-screen-mobile-img {
        display: block;
        margin: 0 auto;
    }

    #first-screen-desktop-img {
        display: none;
    }
    
}


