@use "variables";

.first-screen{
    &-content {
        display: flex;
        justify-content: space-between;
        margin-bottom: 78px;
    }

    &-text {
        max-width: 531px;
    }

    &-title {
        font-family: variables.$font-primary;
        line-height: 1.3;
        margin-bottom: 35px;
    }

    &-subtitle {
        margin-bottom: 35px;
        max-width: 498px;
        font-size: 20px;
        font-family: variables.$font-primary;
    }

    &-logotypes {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 12px;

        &__img {
            filter: grayscale(1);
            &:hover{
                filter: none;
            }
        }
    }
}

#first-screen-mobile-img {
    display: none;
}

#first-screen-desktop-img {
    display: block;
}