@use "variables";

@font-face {
    font-family: 'SpaceGrotesk';
    src: url('/dev/assets/fonts/SpaceGrotesk-Regular.ttf') format('true-type');
    font-weight: 400; 
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SpaceGrotesk';
    src: url('/dev/assets/fonts/SpaceGrotesk-Medium.ttf') format('true-type');
    font-weight: 500; 
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SpaceGrotesk';
    src: url('/dev/assets/fonts/SpaceGrotesk-Bold.ttf') format('true-type');
    font-weight: 700; 
    font-style: normal;
    font-display: swap;
}
