@use "variables";

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%; // iOS
}

body {
    min-height: 100vh;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    font-size: variables.$font-size-base;
    background: variables.$bg-color;
    color: variables.$text-color;
    display: flex;
    flex-direction: column;
}

button {
    cursor: pointer;
}

input,
button,
textarea,
select {
    font-family: variables.$font-primary;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    height: auto;
    max-width: 100%;
}

ul[class],
ol[class] {
    list-style: none;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img:not([alt]),
img[alt=""] {
    filter: blur(10px);
}

h1,
h2,
h3,
h4{
    font-weight: 800;
    font-family: variables.$font-primary;
    color: variables.$primary-color;
    margin-bottom: 0.5em;
}

h1 {
    font-size: variables.$h1-font-size;
}

h2 {
    font-size: variables.$h2-font-size;
}

h3 {
    font-size: variables.$h3-font-size;
}

h4 {
    font-size: variables.$h4-font-size;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

footer {
    margin-top: auto;
}

.container{
    max-width: 1300px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 38px;
    padding-right: 24px;
    margin-right: auto;
    margin-left: auto;
}

.btn{
    display: inline-flex;
    align-items: center;
    padding: 20px 35px;
    background: transparent;
    border: 1px solid variables.$primary-color;
    border-radius: 14px;
    font-family: variables.$font-primary;
    font-size: 20px;

    &:hover{
        background: variables.$primary-color;
        color: #FFFFFF;
    }

    &-dark{
        background: variables.$primary-color;
        color: #FFFFFF;

        &:hover{
            background: transparent;
            color: variables.$primary-color;
        }
    }
}

::selection {
    background-color: variables.$font-primary;
}