///fonts///
$font-primary: "SpaceGrotesk";
$font-size-base: 18px;

///colors///
$primary-color: #191A23;
$secondary-color: #B9FF66;
$tertiary-color: #F3F3F3;
$bg-color: #FFFFFF;
$text-color: #000000;


///font///
$h1-font-size: 60px;
$h2-font-size: 40px;
$h3-font-size: 30px;
$h4-font-size: 20px;
