<section class="first-screen">
    <div class="container">
        <div class="first-screen-wrapper">
            <div class="first-screen-content">
                <div class="first-screen-text">
                    <h1 class="first-screen-title">Navigating the digital landscape for success</h1>
                    <img id="first-screen-mobile-img" src="./assets/img/first-screen-Illustration.svg" alt="First Screen Image" class="first-screen-img">
                    <p class="first-screen-subtitle">Our digital marketing agency helps businesses grow and succeed online through a range of services including SEO, PPC, social media marketing, and content creation.</p>
                    <button class="btn btn-dark first-screen-btn">Book a consultation</button>
                </div>
                <img id="first-screen-desktop-img" src="./assets/img/first-screen-Illustration.svg" alt="First Screen Image" class="first-screen-img">
            </div>
            <div class="first-screen-logotypes">
                <a href="#" class="first-screen-logotypes__link">
                    <img src="./assets/img/amazon-logo.svg" alt="company logo" class="first-screen-logotypes__img">
                </a>
                <a href="#" class="first-screen-logotypes__link">
                    <img src="./assets/img/dribbble-logo.svg" alt="company logo" class="first-screen-logotypes__img">
                </a>
                <a href="#" class="first-screen-logotypes__link">
                    <img src="./assets/img/hubspot-logo.svg" alt="company logo" class="first-screen-logotypes__img">
                </a>
                <a href="#" class="first-screen-logotypes__link">
                    <img src="./assets/img/notion-logo.svg" alt="company logo" class="first-screen-logotypes__img">
                </a>
                <a href="#" class="first-screen-logotypes__link">
                    <img src="./assets/img/netflix-logo.svg" alt="company logo" class="first-screen-logotypes__img">
                </a>
                <a href="#" class="first-screen-logotypes__link">
                    <img src="./assets/img/zoom-logo.svg" alt="company logo" class="first-screen-logotypes__img">
                </a>
            </div>
        </div>
    </div>
</section>